<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>Spring Security Example</title>
</head>
<body>
<h3>Admin menu</h3>
<div th:each="user : ${user}"><br>
  <a th:href="@{/admin/{id}(id=${user.getId()})}" th:text="${user.getUsername()}">user</a>
</div>
<br><br>
<button type="submit"><a href="/admin/new/">Add User</a></button>
<br><br>
<button type="submit"><a href="/user/">Personal Area</a></button>
<br><br>
<button type="submit"><a th:href="@{/logout}">Logout</a></button>

</body>
</html>