<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
</head>
<body>
<p th:text="${user.getId()}">VALUE</p>
<p th:text="${user.getUsername()}">VALUE</p>
<p th:text="${'Email: ' + user.getEmail()}">VALUE</p>
<br><br>
<button type="submit"><a th:href="@{/admin/{id}/edit(id=${user.getId()})}">Update</a></button>
<br><br>

<form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
  <input type="submit" value="Delete"/>
</form>
<br>
<button type="submit"><a href="/admin">Back</a></button>
<br><br>
<form action="/logout" method="POST">
  <button type="submit">logout</button>
</form>
</body>
</html>